# Virtual Environment
.venv
env

# Python
*.pyc
__pycache__
.coverage

# Python IDE
.idea
.vscode
workspace.code-workspace
.env

# MacOS
*.DS_Store

# Builds
_build
*.egg-info
build
dist
htmlcov

# Package Version
tnmf/_version.py

.coverage.*
.ipynb_checkpoints
*.pyc
*.pdf
Abstracts/
